*{
    font-family: 'Courier New', Courier, monospace;
}
.container {
    max-width: 495px;
    margin: 50px auto;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
}
form#formulario{
    display: flex;
    flex-direction: column;
    width: 300px;
}
form label {
     display: block;
    width: 100%;
    margin-bottom: 10px;
}
input, select{
    height: 40px;
    border: none;
    border-radius: 5px;
    width: 160%;
    padding-left: 10px;
    margin-bottom: 10px;
}
button {
    border: none;
    background-color: rgb(87, 140, 161);
    color:rgb(246, 248, 250);
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 30px;
    width: 160%;
}
#lista {
    width: 13%;
    height: auto;
    padding: 5px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px;
    gap: 10px;
    border-radius: 5px;
    background-color: gainsboro;
    border: none;
}